html {
  box-sizing: border-box;
  font-size: 20px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#root {
  width: 400px;
  margin: auto;
  margin-top: 7vh;
  padding: 1.4rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #5e9fea;
}
form {
  display: flex;
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #0472f0;
  background: #2f7acf;
  border-radius: 0.2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
input {
  width: 87%;
  height: 100%;
  text-indent: 1rem;
  outline: none;
  border: none;
  font: 100 1rem sans-serif;
  border-radius: 0.1rem;
}
button {
  width: 13%;
  height: 100%;
  font-size: 2.4rem;
  border: none;
  color: #f3f0f0;
  background: transparent;
  cursor: pointer;
  box-sizing: content-box;
}
ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  width: 100%;
  border-top: 2px solid #1d8ce7;
  padding: 0.5rem 0 0;
  margin: 1rem 0 0;
}

li b {
  width: 80%;
}
li span {
  align-self: center;
}
li span:hover {
  color: rgba(233, 14, 14, 0.89);
  cursor: pointer;
}
.task,
.task-fadeout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  width: 100%;
  padding: 0.3rem;
  background-color: rgb(31, 142, 197);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 2px rgb(187, 187, 187);
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  word-break: break-word;
  overflow-wrap: break-word;
}
.task {
  -webkit-animation: fadein 0.5s linear forwards;
  animation: fadein 0.5s linear forwards;
}
.task-fadeout {
  -webkit-animation: fadeout 0.3s linear forwards;
  animation: fadeout 0.3s linear forwards;
}
/*animations when adding or removing task*/
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 450px) {
  #root {
    width: 90vw;
  }
}
